<app-search (enteredTextChanged)="onEnteredTextChanged($event)"></app-search>
<div class="container">
    <div class="table" *ngFor="let item of stockMarketData">
        <div class="table-wrapper" *ngIf="searchText === '' || item.name.toLowerCase().includes(searchText)">
            <div class="id">{{item.id}}</div>
            <div class="name">{{item.name}}</div>
            <div class="image"><img src="{{item.image}}" alt="image"></div>
            <div class="price">{{item.current_price}}</div>
        </div>
    </div>
</div>
