.container {
    width: 100%;
}
.search {
    margin: 30px calc(50% - 250px) 0;
    width: 500px;
    height: 40px;
    font-size: 30px;
    background-color: #333;
    border: none;
    border-bottom: rgba(1, 152, 117, 0.35) 2px solid;
}
.search:focus {
    color: #aaa;
    border: none;
    border-bottom: rgba(1, 152, 117, 0.35) 2px solid;
    background-color: transparent;
    resize: none;
    outline: none;
}
